@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
  }
  
  .animate-fade-out {
    animation: fade-out 0.3s ease-in forwards;
  }
}

body {
  font-family: "Figtree", sans-serif;
}
.custom-popup {
  width: 350px !important;
  max-width: 350px !important;
}

.custom-popup .leaflet-popup-content {
  width: 100% !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frosted-bg {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.9);
}
